@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9xw6ln');
  src:  url('fonts/icomoon.eot?9xw6ln#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9xw6ln') format('truetype'),
    url('fonts/icomoon.woff?9xw6ln') format('woff'),
    url('fonts/icomoon.svg?9xw6ln#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-001:before {
  content: "\e901";
}
.icon-002:before {
  content: "\e902";
}
.icon-003:before {
  content: "\e903";
}
.icon-004:before {
  content: "\e904";
}
.icon-005:before {
  content: "\e905";
}
.icon-006:before {
  content: "\e906";
}
.icon-007:before {
  content: "\e907";
}
.icon-008:before {
  content: "\e908";
}
.icon-009:before {
  content: "\e909";
}
.icon-010:before {
  content: "\e90a";
}
.icon-011:before {
  content: "\e90b";
}
.icon-012:before {
  content: "\e90c";
}
.icon-top_1:before {
  content: "\e90d";
}
.icon-top_2:before {
  content: "\e90e";
}
.icon-top_3:before {
  content: "\e90f";
}
.icon-bottom:before {
  content: "\e900";
  color: #fff;
}
