
.catalogue {
    padding: rem(25) 0;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $gray-light;
        clip-path: polygon(0 0, 100% 0, 100% 62%, 0 27%);
    }

    &_pad {
        padding-top: rem(25);
    }

    &_block {
        padding: rem(15) 0;

        &_child {
            display: block;
            cursor: pointer;
            min-height: rem(165);
            width: 100%;
            height: 100%;
            padding: rem(20) rem(15);
            border-radius: rem(4);
            background-color: $white;
            box-shadow: 0px 2px 4px 0px rgba(8, 63, 136, 0.08);
            transition: all .3s ease;

            &:hover {
                box-shadow: 0px 8px 22px 0px rgba(8, 63, 136, 0.15);
            }

            span {
                color: $blue;
                display: block;
                padding-bottom: rem(15);

                &:before {
                    font-size: rem(46);
                }
            }

            p {
                font-size: rem(14);
                font-weight: bold;
                color: $black;
            }
        }
    }

    &_url {
        padding: rem(15) 0 rem(7);

        a {
            max-width: rem(160);
            width: 100%;
        }
    }
}