
.content_top {
    padding: rem(15) 0;

    &_pad {
        padding: rem(15) 0;
        height: 100%;
    }

    &_block {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: rem(4);
        background-color: $white;
        box-shadow: 0px 2px 4px 0px rgba(8, 63, 136, 0.08);
        padding: rem(20);
        height: 100%;
        transition: all .3s ease;

        &:hover {
            box-shadow: 0px 8px 22px 0px rgba(8, 63, 136, 0.15);
        }

        &_img {
            span:before {
                font-size: rem(47);
                color: $gray;
            }
        }

        &_info {
            padding-right: rem(20);
            padding-left: rem(15);

            h2 {
                font-size: rem(20);
                font-weight: bold;
                color: $blue;
                margin-bottom: rem(10);
            }

            p {
                font-size: rem(14);
            }
        }
    }
}