
.content_slide {
    .carousel {
        border-radius: rem(4);

        .carousel-item {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 2;
                background-color: rgba(8, 63, 136, 0.4);
                border-radius: rem(4);
            }

            .carousel-caption {
                top: 50%;
                transform: translateY(-50%);
                bottom: auto;
                color: $white;

                h3 {
                    font-size: rem(28);
                    font-weight: bold;
                    margin-bottom: rem(10);
                }

                p {
                    font-size: rem(16);
                }
            }
        }

        .carousel-indicators {
            li {
                margin: 0 rem(10);
                width: rem(48);
                height: rem(4);
                border: none;
            }

            .active {
                background: rgba(28, 196, 0, 1);
                background: -moz-linear-gradient(top, rgba(28, 196, 0, 1) 0%, rgba(19, 160, 0, 1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(28, 196, 0, 1)), color-stop(100%, rgba(19, 160, 0, 1)));
                background: -webkit-linear-gradient(top, rgba(28, 196, 0, 1) 0%, rgba(19, 160, 0, 1) 100%);
                background: -o-linear-gradient(top, rgba(28, 196, 0, 1) 0%, rgba(19, 160, 0, 1) 100%);
                background: -ms-linear-gradient(top, rgba(28, 196, 0, 1) 0%, rgba(19, 160, 0, 1) 100%);
                background: linear-gradient(to bottom, rgba(28, 196, 0, 1) 0%, rgba(19, 160, 0, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1cc400', endColorstr='#13a000', GradientType=0);
                box-shadow: 0px 12px 12px 0px rgba(3, 164, 17, 0.15);
                transition: all .3s ease;
            }
        }
    }

    &_popup {
        height: 100%;
        position: relative;
        display: block;

        &_img {
            position: relative;
            height: 100%;

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 2;
                background-color: $black;
                opacity: 0.2;
                border-radius: rem(4);
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        &_info {
            position: absolute;
            z-index: 5;
            top: rem(20);
            left: rem(20);
            max-width: rem(150);
            width: 100%;

            p {
                font-size: rem(24);
                color: $white;
                line-height: rem(24);
            }
        }

        &_url {
            position: absolute;
            z-index: 5;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

#modal-center {
    .modal-header, .modal-footer {
        display: none;
    }

    .modal-body {
        padding: 0;

        .btn {
            position: absolute;
            top: rem(10);
            right: rem(10);
            background: $gray-dark;
            z-index: 5;
            height: auto;
            min-height: auto;
            box-shadow: none;
        }
    }
}