
.content_bottom {
    padding-top: rem(45);

    &_header {
        &_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: rem(4);
            padding: rem(10) rem(15);
            color: $gray-dark;
            font-size: rem(16);
            font-weight: bold;

            &.active {
                background-color: $white;
                color: $blue;
            }

            &:hover {
                color: $black;
            }
        }
    }

    &_center {
        background-color: $white;
        padding: rem(15) 0;

        &_block {
            padding: rem(15) 0;
            height: 100%;
            border-radius: rem(4);

            &_url {
                border-radius: rem(4);
                background-color: $white;
                box-shadow: 0px 2px 4px 0px rgba(8, 63, 136, 0.08);
                width: 100%;
                display: block;
                transition: all .3s ease;
                height: 100%;

                &:hover {
                    box-shadow: 0px 8px 22px 0px rgba(8, 63, 136, 0.15);

                    .content_bottom_center_block_url_info {
                        padding: 0;
                    }
                }

                &_info {
                    background-color: $gray-light;
                    padding: rem(1);
                    height: 100%;
                    transition: all .5s ease;
                    border-radius: rem(4);

                    &_child {
                        padding: rem(10) rem(15);
                        background-color: $white;
                        border-radius: rem(4);
                        height: 80%;

                        &_text {
                            padding-bottom: rem(15);

                            h2 {
                                font-size: rem(16);
                                font-weight: bold;
                            }

                            p {
                                font-size: rem(12);
                            }

                            h3 {
                                font-size: rem(14);
                            }
                        }
                    }

                    &_date {
                        border-radius: rem(4);
                        padding: rem(10) rem(15);

                        p {
                            font-size: rem(12);
                        }
                    }
                }
            }
        }
    }

    &_url {
        padding: rem(15) 0;

        a {
            max-width: rem(160);
            width: 100%;
        }
    }
}