
.content_center {
    &_pad {
        padding: rem(15) 0;
    }

    &_block {
        border-radius: rem(4);
        position: relative;

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            background: rgba(8, 63, 136, 1);
            background: -moz-linear-gradient(left, rgba(8, 63, 136, 1) 0%, rgba(8, 63, 136, 1) 10%, rgba(8, 63, 136, 0.4) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(8, 63, 136, 1)), color-stop(10%, rgba(8, 63, 136, 1)), color-stop(100%, rgba(8, 63, 136, 0.4)));
            background: -webkit-linear-gradient(left, rgba(8, 63, 136, 1) 0%, rgba(8, 63, 136, 1) 10%, rgba(8, 63, 136, 0.4) 100%);
            background: -o-linear-gradient(left, rgba(8, 63, 136, 1) 0%, rgba(8, 63, 136, 1) 10%, rgba(8, 63, 136, 0.4) 100%);
            background: -ms-linear-gradient(left, rgba(8, 63, 136, 1) 0%, rgba(8, 63, 136, 1) 10%, rgba(8, 63, 136, 0.4) 100%);
            background: linear-gradient(to right, rgba(8, 63, 136, 1) 0%, rgba(8, 63, 136, 1) 10%, rgba(8, 63, 136, 0.4) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#083f88', endColorstr='#083f88', GradientType=1);
        }

        &:hover {
            box-shadow: 0px 8px 22px 0px rgba(8, 63, 136, 0.15);
        }

        img {
            width: 100%;
            height: 100%;
        }

        &_info {
            position: absolute;
            top: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding-right: rem(30);
            padding-left: rem(20);

            &_img {
                &.calc {
                    padding-left: rem(10);
                }
            }

            &_text {
                color: $white;
                padding-left: rem(20);

                h2 {
                    font-size: rem(24);
                    font-weight: bold;
                }

                p {
                    font-size: rem(14);
                }
            }

            &_url {
                margin-left: auto;

                &_btn {
                    min-width: rem(100);
                    width: 100%;
                }
            }
        }
    }
}