
.news {
    padding: rem(25) 0 rem(20);

    &_header {
        padding: rem(15) 0;

        h2 {
            font-size: rem(26);
            font-weight: bold;
        }
    }

    &_block_pad {
        padding: rem(15) 0;
    }

    &_block {
        border-radius: rem(4);
        background-color: $white;
        box-shadow: 0px 2px 4px 0px rgba(8, 63, 136, 0.08);
        min-height: rem(320);
        height: 100%;
        transition: all .3s ease;

        &:hover {
            box-shadow: 0px 8px 22px 0px rgba(8, 63, 136, 0.15);

            a {
                text-decoration: none;
                color: $blue;
            }
        }

        &_img {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
            }
        }

        &_info {
            padding: rem(15);

            span {
                font-size: rem(12);
                display: block;
                margin-bottom: rem(10);
            }

            h3 {
                font-size: rem(16);
                font-weight: bold;
                color: $black;
                margin-bottom: rem(20);
                max-height: rem(60);
                min-height: rem(60);
                height: 100%;
                overflow: hidden;
            }
        }
    }

    a {
        font-size: rem(14);
        color: $blue;
        text-decoration: underline;
        display: flex;
        align-self: end;
    }
}