
.new_product {
    padding: rem(25) 0 rem(30);
    transition: all .3s ease;

    &_header {
        padding: rem(3) 0;

        h2 {
            font-size: rem(26);
            font-weight: bold;
        }

        &_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: rem(40);
            min-height: rem(40);
            width: 100%;
            height: 100%;
            border-radius: rem(4);
            transition: all .3s ease;

            &.active {
                background-color: $green;
            }

            &:hover {
                background-color: $white;
                box-shadow: 0px 6px 6px 0px rgba(3, 164, 17, 0.15);
            }
        }
    }

    &_block {
        padding: rem(15) 0;
        height: 100%;

        &_url {
            border-radius: rem(4);
            background-color: $white;
            box-shadow: 0px 2px 4px 0px rgba(8, 63, 136, 0.08);
            min-height: rem(320);
            height: 100%;
            width: 100%;
            display: block;
            transition: all .3s ease;

            &:hover {
                box-shadow: 0px 8px 22px 0px rgba(8, 63, 136, 0.15);

                a {
                    text-decoration: none;
                }

                h3 {
                    color: $blue;
                }
            }

            &_img {
                display: flex;
                justify-content: center;
                align-items: center;
                max-height: rem(160);
                min-height: rem(160);
                height: 100%;
                width: 100%;

                img {
                }
            }

            &_info {
                padding: rem(10) rem(15);

                &_child {
                    padding: rem(5) 0;

                    p {
                        font-size: rem(12);
                    }

                    h3 {
                        font-size: rem(16);
                        font-weight: bold;
                    }

                    h4 {
                        font-size: rem(14);
                        font-weight: bold;
                    }

                    span {
                        font-size: rem(14);
                        font-weight: bold;
                        display: block;
                        color: #959595;
                    }
                }
            }
        }
    }

    &_table {
        font-size: rem(16);
        background-color: $white;
        min-width: rem(900);

        th, td {
            padding: rem(15);
            vertical-align: middle;
        }

        &_thead {
            &_tr {
                &_th {
                    padding: rem(15);
                    font-weight: bold;

                    &_width {
                        width: rem(190);
                    }
                }
            }
        }

        &_tbody {
            &_tr {
                transition: all .3s ease;

                &:hover {
                    background-color: $white;
                    box-shadow: 0px 8px 22px 0px rgba(8, 63, 136, 0.15);

                    a {
                        text-decoration: underline;
                        color: $blue;
                    }
                }

                &_th {
                    padding: rem(15);

                    img {
                        max-width: rem(50);
                        width: 100%;
                    }
                }

                &_td {
                    vertical-align: middle;
                    padding: rem(15);

                    &_url {
                        color: $blue;
                    }
                }
            }
        }
    }

    &_url {
        padding: rem(15) 0;

        a {
            max-width: rem(160);
            width: 100%;
        }
    }

    .equiment, .cat-eq {
        transition: all .3s ease;
    }
}

.cat-eq {
    padding-top: rem(18);
}