<template>
  <div class="row">
    <div class="col-lg-3 col-md-6" v-for="supplier in suppliers" :key="supplier.id">
      <div class="content_bottom_center_block">
        <a href="http://www.uzex.uz" class="content_bottom_center_block_url">
          <div class="content_bottom_center_block_url_info">
            <div class="content_bottom_center_block_url_info_child">
              <div class="content_bottom_center_block_url_info_child_text">
                <h2>{{ supplier.title}}</h2>
                <p>ИНН: {{ supplier.inn }}</p>
              </div>
              <div class="content_bottom_center_block_url_info_child_text">
                <h3>{{ supplier.region }}</h3>
                <h3>{{ supplier.address }}</h3>
              </div>
            </div>
            <div class="content_bottom_center_block_url_info_date">
              <p>Дата внесения: {{ supplier.date }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6" v-for="supplier in suppliers" :key="supplier.id">
      <div class="content_bottom_center_block">
        <a href="http://www.uzex.uz" class="content_bottom_center_block_url">
          <div class="content_bottom_center_block_url_info">
            <div class="content_bottom_center_block_url_info_child">
              <div class="content_bottom_center_block_url_info_child_text">
                <h2>{{ supplier.title}}</h2>
                <p>ИНН: {{ supplier.inn }}</p>
              </div>
              <div class="content_bottom_center_block_url_info_child_text">
                <h3>{{ supplier.region }}</h3>
                <h3>{{ supplier.address }}</h3>
              </div>
            </div>
            <div class="content_bottom_center_block_url_info_date">
              <p>Дата внесения: {{ supplier.date }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "SuppliersGridItem",
    data() {
      return {
        suppliers: [
          {
            id: 1,
            title: '"ABDURAXMAN SYSTEM" МЧЖ',
            inn: '207154161',
            region: 'г. Ташкент',
            address: 'ул. Шота Руставели проезд 1, дом 8',
            date: '09.09.2019',
          },

          {
            id: 2,
            title: 'ООО MIRZAOBOD FAYZ BARAKA OMAD',
            inn: '207154161',
            region: 'Хорезмская область',
            address: 'г.Ургенч, ул. Дружбы народов,  проезд 9, дом',
            date: '09.09.2019',
          },
        ],
      }
    },
  }
</script>

<style scoped>

</style>