@import "vars/variables";
@import "vars/functions";

.footer {
    background-color: $blue;

    &_top {
        padding: rem(15) 0;

        &_block {
            padding: rem(15) 0;

            &_logo {
                max-width: rem(67);
                width: 100%;
                border-radius: rem(6);
                overflow: hidden;
            }

            &_address {
                padding-left: rem(15);

                p {
                    font-size: rem(14);
                    color: $white;
                }
            }

            &_url {
                display: block;

                a {
                    display: block;
                    font-size: rem(15);
                    color: $white;
                    transition: all .3s ease;

                    &:hover {
                        text-decoration: underline;
                        color: $white;
                    }
                }
            }
        }
    }

    &_bottom {
        background-color: #043372;
        padding: rem(15) 0;

        &_block {
            color: $white;

            p {
                font-size: rem(14);
            }

            &_url {
                color: $white;
                text-decoration: underline;

                &:hover {
                    color: $white;
                }

                &-jpg {
                    padding-left: rem(15);
                }
            }
        }
    }
}