@import "vars/variables";
@import "vars/functions";

.header {
    &_top {
        background-color: $gray-light-second;
        min-height: rem(30);
        height: 100%;
        display: flex;
        justify-content: space-between;

        &_left {
            p {
                font-size: rem(14);
                color: $gray-dark-second;
            }
        }

        &_right {
            display: flex;
            justify-content: flex-end;

            &_currency {
                display: flex;
                align-items: center;

                &_block {
                    display: flex;
                    padding: 0 rem(10);

                    p, span {
                        font-size: rem(14);
                    }

                    p {
                        color: #008446;
                        text-transform: uppercase;
                        margin-right: rem(10);
                    }

                    span {
                        color: $gray-dark-second;
                    }
                }
            }

            &_lang {
                &_menu-other {
                    padding: rem(5) rem(15);
                    position: relative;
                    min-width: rem(88);
                    width: 100%;
                    display: flex;
                    align-items: center;

                    &:hover {
                        background-color: rgb(226, 232, 241);
                    }

                    &.active {
                        .icon-bottom:before {
                            transform: rotate(180deg);
                        }
                    }

                    &-icon {
                        &:before {
                            font-size: rem(7);
                            color: $blue;
                            position: absolute;
                            right: rem(10);
                            top: 40%;
                        }
                    }

                    &-text {
                        text-transform: uppercase;
                        color: $blue;
                        font-size: rem(16);

                        img {
                            vertical-align: baseline;
                        }
                    }
                }

                &_dropdown_menu {
                    min-width: auto;
                    padding: 0;
                    border: none;

                    &_item {
                        color: $blue;
                        padding: rem(10) rem(15);
                        font-size: rem(16);
                        min-width: rem(88);

                        img {
                            vertical-align: baseline;
                        }
                    }
                }
            }
        }
    }

    &_center {
        padding: rem(20) 0;

        &_title {
            font-size: rem(16);
            color: #898989;
        }

        &_profile {
            &_btn {
                max-width: rem(225);
                margin-left: auto;

                p {
                    font-size: rem(16);
                    color: $white;
                    display: inline-block;
                    margin-left: rem(7);
                }
            }
        }
    }

    &_bottom {
        position: relative;

        .container {
            background-color: $blue;
            border-radius: rem(23);
            position: relative;
            z-index: 5;
        }

        &_menu {
            &_navbar {
                padding: 0;
            }

            &_left-border {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    width: rem(1);
                    height: rem(24);
                    background-color: #06326d;
                }

                &.show > .nav-link {
                    background-color: #06326d;

                    &:focus {
                        border: none;
                    }
                }

                .dropdown-toggle:after {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }

                .dropdown-menu {
                    transition: transform 0.5s ease-in-out;
                    padding: 0;

                    hr {
                        width: 87%;
                        margin: 0 auto;
                    }

                    .dropdown-item {
                        padding: rem(8) rem(16);
                    }
                }

                .dropdown-menu.show {
                    width: rem(350);
                    border: none;

                    .dropdown-item {
                        white-space: normal;
                        @include lato(14);
                    }
                }
            }

            .navbar-dark .navbar-nav .nav-link {
                color: $white;
                font-size: rem(16);
                font-weight: bold;
                padding-top: rem(15);
                padding-bottom: rem(15);
                padding-right: rem(20);
                position: relative;
                outline: 0;

                &:hover {
                    border-color: transparent;
                }
            }

            .navbar-dark .navbar-nav .dropdown-toggle {
                padding-right: rem(30);
            }
        }

        &_back {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 50%;
            top: 50%;
            background-color: $gray-light-second;
        }
    }
}

.header_bottom_menu .header_bottom_menu_left-border .nav-link {
    color: $white;
    font-size: rem(16);
    font-weight: bold;
    padding-left: rem(20);
    position: relative;

    &:hover {
        border-color: transparent;
    }
}