@import "vars/variables";
@import "vars/functions";

@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}

@media screen and (min-width: 320px) {
    html,
    body {
        margin: 0;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 320px) {
    html,
    body {
        margin: 0;
        overflow-x: hidden;
    }
}

@for $i from 1 through 60 {
    @media(min-width: 2000px + ($i * 100)) {
        body {
            font-size: 18px + $i !important;
        }
    };
}

@for $i from 1 through 100 {
    @media(max-width: 1280px - ($i * 10)) {
        .tab_content {
            h1 {
                font-size: 150px - $i !important;
            }
        }
    };
}

@for $i from 1 through 7 {
    @media(max-width: 1280px - ($i * 100)) {
        .tab_content {
            h4 {
                font-size: 20px - $i !important;
            }
        }
    };
}

@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 1280px) {


}

@media screen and (max-width: 1199px) {
    .catalogue:before {
        clip-path: polygon(0 0, 100% 0, 100% 72%, 0 37%);
    }
}

@media screen and (max-width: 1060px) {
    .header_bottom_menu .navbar-dark .navbar-nav .nav-link {
        font-size: rem(14);
    }
}

@media screen and (max-width: 1024px) {
    .content_bottom_center_block_url:hover
    .content_bottom_center_block_url_info {
        padding: rem(1);
    }
}

@media screen and (max-width: 991px) {
    .header_bottom_menu .navbar-dark .navbar-nav .nav-link {
        font-size: rem(12);
    }
}

@media screen and (max-width: 868px) {
    .header_bottom_menu .navbar-dark .navbar-nav .nav-link {
        font-size: rem(10);
    }
}

@media screen and (max-width: 767px) {
    .header_bottom_menu_left-border .dropdown-menu.show {
        width: 100%;
        border-radius: 0;

        .dropdown-item {
            text-align: center;
        }
    }
    .header_bottom .container {
        border-radius: 0;
    }
    .catalogue:before {
        clip-path: polygon(0 0, 100% 0, 100% 82%, 0 47%);
    }
    .content_slide_popup {
        padding-top: rem(15);
    }
    .header_bottom_menu_left-border:before {
        display: none;
    }
    .header_bottom_menu .navbar-dark .navbar-nav .nav-link {
        font-size: rem(16);
        padding: rem(15) rem(20);
        text-align: center;
    }
    .header_center_title {
        display: flex;
        justify-content: center;
        padding-top: rem(10);
    }
    .header_top_left, .header_bottom_menu {
        padding: rem(10) 0;
    }
    .header_top_right, .header_top_left {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 575px) {
    .footer_top_block {
        text-align: center;

        &_url {
            width: 100%;
        }
    }
    .footer_bottom_block p {
        text-align: center;
    }
    .catalogue:before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 67%);
    }
    .header_center {
        &_logo, &_profile {
            display: flex;
            justify-content: center;

            &_btn {
                margin: 0;
            }
        }

        &_title {
            padding: 0;
        }

        &_profile {
            padding: rem(10) 0;
        }
    }
}

@media screen and (max-width: 526px) {
    .content_top_block {
        justify-content: normal;
    }
    .carousel-item {
        img {
            min-height: rem(250);
            height: 100%;
        }
    }
}

@media screen and (max-width: 500px) {
    .content_center_block {
        img {
            width: auto;
            height: 100%;
        }

        &_img-back {
            min-height: rem(250);
        }

        &_info {
            display: block;
            padding: rem(15) rem(20);

            &_img {
                display: flex;
                justify-content: center;
            }

            &_text {
                padding: rem(15) 0;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 430px) {
}

@media screen and (max-width: 400px) {
    .header_top_right_currency {
        display: block;
    }
    .carousel-item {
        img {
            min-height: rem(350);
            height: 100%;
        }
    }
}

@media screen and (max-width: 375px) {
    .content_bottom_header_btn {
        font-size: rem(12);
    }
    .content_center_block {
        &_img-back {
            min-height: rem(270);
        }
    }
}

@media screen and (max-width: 340px) {
    .content_center_block {
        &_img-back {
            min-height: rem(270);
        }
    }
}