@import "vars/variables";
@import "vars/functions";
@import "../fonts/style.css";
@import "../fonts/lato/lato.css";
@import "../fonts/PTSansPro/stylesheet.css";
@import "header";
@import "footer";
@import "content/content-top";
@import "content/content-slide";
@import "content/news";
@import "content/catalogue";
@import "content/newproduct";
@import "content/content-center";
@import "content/content-bottom";
@import "breakpoint";
@import "responsive";


//Helpers

.btn {
    font-size: rem(16);
    overflow: hidden;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    min-height: 42px;
    height: 100%;
    border-radius: rem(21);
    background: rgba(28, 196, 0, 1);
    background: -moz-linear-gradient(top, rgba(28, 196, 0, 1) 0%, rgba(19, 160, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(28, 196, 0, 1)), color-stop(100%, rgba(19, 160, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(28, 196, 0, 1) 0%, rgba(19, 160, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(28, 196, 0, 1) 0%, rgba(19, 160, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(28, 196, 0, 1) 0%, rgba(19, 160, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(28, 196, 0, 1) 0%, rgba(19, 160, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1cc400', endColorstr='#13a000', GradientType=0);
    box-shadow: 0px 12px 12px 0px rgba(3, 164, 17, 0.15);
    transition: all .3s ease;

    &.filled {
        background: $blue;
    }

    &:hover, &:focus {
        color: $white;
        background: rgba(19, 160, 0, 1);
        background: -moz-linear-gradient(top, rgba(19, 160, 0, 1) 0%, rgba(28, 196, 0, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19, 160, 0, 1)), color-stop(100%, rgba(28, 196, 0, 1)));
        background: -webkit-linear-gradient(top, rgba(19, 160, 0, 1) 0%, rgba(28, 196, 0, 1) 100%);
        background: -o-linear-gradient(top, rgba(19, 160, 0, 1) 0%, rgba(28, 196, 0, 1) 100%);
        background: -ms-linear-gradient(top, rgba(19, 160, 0, 1) 0%, rgba(28, 196, 0, 1) 100%);
        background: linear-gradient(to bottom, rgba(19, 160, 0, 1) 0%, rgba(28, 196, 0, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13a000', endColorstr='#1cc400', GradientType=0);
    }

    &.left {
        text-align: left;
    }

    & + & {
        margin-left: rem(30);
    }

    &__feedback {
        padding: 1.05rem 0.8125rem;

        i {
            font-size: rem(20);
            color: $blue;
            margin-right: .65rem;
        }

        i, span {
            vertical-align: middle;
        }

        &:hover, &:focus {
            i {
                color: $white;
            }
        }
    }
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.full-height {
    height: 100%;
}

.no-padding {
    padding: 0 !important;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

* {
    margin: 0;
    padding: 0;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.overflow-hidden {
    overflow: hidden !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: rem(15);
    padding-right: rem(15);
}

.row {
    margin-left: rem(-15);
    margin-right: rem(-15);

    &.no-gutters {
        margin-left: 0;
        margin-right: 0;

        & > .col, & > [class*=col-] {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.no-parent {
        & > .col, & > [class*=col-] {
            position: static;
        }
    }
}

.row, .d-flex {
    .pull-left {
        margin-right: auto;
    }

    .pull-right {
        margin-left: auto;
    }
}

body {
    font-size: #{$browser-context}px;
    font-family: $ptsanspro;
    color: $black;
    overflow-x: hidden;

    &.modal-show, &.menu-show {
        overflow: hidden;
    }
}

.container {
    max-width: 1170px;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
    margin: 0;
}

a {
    color: $black;
    text-decoration: none;
    transition: all .3s ease;

    &:hover, &:focus {
        color: $black;
        text-decoration: none;
        transition: all .3s ease;
    }
}

.hidden-menu {
    transform: none;
    transition: transform .5s ease-in-out;
}

.shown-menu {
    transform: translateX(rem(-320));
    transition: transform .5s ease-in-out;
}

.shown-right {
    right: 0;
    transition: right .5s ease-in-out;
}

.hidden-right {
    right: rem(-500);
    transition: right .7s ease-in-out;
}

.mask {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: display .5s ease-in-out;
}

.active_mask {
    display: block;
    transition: display .5s ease-in-out;
}

::-webkit-input-placeholder {
    color: $gray-dark;
}

::-moz-placeholder {
    color: $gray-dark;
}

:-moz-placeholder {
    color: $gray-dark;
}

:-ms-input-placeholder {
    color: $gray-dark;
}

.v--modal-block-scroll {
    .content {
        z-index: inherit;
    }
}

.animate {
    transition-delay: .1s;
    transition-duration: .5s;
    transition-timing-function: ease-in;
}

.content {
    background-color: $gray-light-second;
}


