<template>
  <footer class="footer">
    <div class="footer_top">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer_top_block d-flex justify-content-sm-center">
              <div class="footer_top_block_logo">
                <img src="~/assets/img/logo-second.jpg" alt="footer-logo"/>
              </div>
              <div class="footer_top_block_address">
                <p>АО “Узбекская Республиканская товарно-сырьевя биржа”</p>
                <p>Адрес: 1000090, Республика Узбекистан, г. Ташкент, ул. Бобура, 77</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="footer_top_block d-flex justify-content-sm-center">
              <div class="footer_top_block_url">
                <nuxt-link to="/">Главная</nuxt-link>
                <nuxt-link to="/">Пресс-центр</nuxt-link>
                <nuxt-link to="/">Об УЗРТСБ</nuxt-link>
                <nuxt-link to="/">Нормативно-правовая база</nuxt-link>
                <nuxt-link to="/">Файлы для загрузки</nuxt-link>
                <nuxt-link to="/">Контакты</nuxt-link>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="footer_top_block d-flex justify-content-sm-center">
              <div class="footer_top_block_url">
                <nuxt-link to="/">Биржевые торги</nuxt-link>
                <nuxt-link to="/">Государственные закупки</nuxt-link>
                <nuxt-link to="/">Корпоративные закупки</nuxt-link>
                <nuxt-link to="/">Выставочно-ярмарочные торги</nuxt-link>
                <nuxt-link to="/">Интерактивные услуги</nuxt-link>
                <nuxt-link to="/">Карта сайта</nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <div class="footer_bottom_block">
              <p>
                При использовании материалов сайта ссылка на веб-сайт
                <a class="footer_bottom_block_url" href="http://www.uzex.uz">www.uzex.uz</a>
                обязательна
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="footer_bottom_block d-flex justify-content-end align-items-center">
              <p>Сейчас на сайте: 1304</p>
              <a href="http://www.uzex.uz" class="footer_bottom_block_url-jpg">
                <img src="~/assets/img/gis.jpg" alt="footer-bottom-url">
              </a>
              <a href="http://my.gov.uz" class="footer_bottom_block_url-jpg">
                <img src="~/assets/img/my.gov.uz.jpg" alt="footer-bottom-url">
              </a>
              <a href="http://www.uzex.uz" class="footer_bottom_block_url-jpg">
                <img src="~/assets/img/collect.jpg" alt="footer-bottom-url">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: "Footer"
  }
</script>

<style scoped>

</style>