<template>
  <header class="header">
    <div class="header_top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5">
            <div class="header_top_left">
              <p>{{ getDate() }}</p>
            </div>
          </div>
          <div class="col">
            <div class="header_top_right">
              <div class="header_top_right_currency">
                <div class="header_top_right_currency_block">
                  <p>usd</p>
                  <span>9455.24</span>
                </div>
                <div class="header_top_right_currency_block">
                  <p>eur</p>
                  <span>10438.58</span>
                </div>
                <div class="header_top_right_currency_block">
                  <p>rub</p>
                  <span>143</span>
                </div>
              </div>
              <div class="header_top_right_lang">
                <ul class="nav justify-content-end">
                  <li class="nav-item d-flex align-items-center dropdown">
                    <a
                        class="nav-link header_top_right_lang_menu-other"
                        @click.prevent="toggleVariable('displayLangMenu')"
                        :class="{ active: !!displayLangMenu }"
                        data-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                      <span class="icon-bottom header_top_right_lang_menu-other-icon"></span>
                      <span class="header_top_right_lang_menu-other-text">
                        <img :src="$t('lang.img')" alt="lang">
                        {{ $t('lang.text') }}
                      </span>
                    </a>
                    <div class="dropdown-menu header_top_right_lang_dropdown_menu" v-show="displayLangMenu">
                      <nuxt-link
                          class="dropdown-item header_top_right_lang_dropdown_menu_item"
                          @click.native="toggleVariable('displayLangMenu')"
                          v-for="locale in availableLocales"
                          :key="locale.code"
                          :to="switchLocalePath(locale.code)"
                      >
                        <img :src="imgCloud[locale.code]" alt="lang">
                        {{ locale.name }}
                      </nuxt-link>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header_center">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-3 col-sm-6 order-md-1">
            <a href="http://www.uzex.uz" class="header_center_logo">
              <img src="~/assets/img/logo.png" alt="Logo"/>
            </a>
          </div>
          <div class="col-lg-3 col-md-5 col-sm-6 order-md-3 justify-content-end no-padding">
            <div class="header_center_profile">
              <a href="#" class="header_center_profile_btn btn">
                <img src="~/assets/img/profile.png" alt="profile-icon"/>
                <p>Персональный кабинет</p>
              </a>
            </div>
          </div>
          <div class="col-lg-6 order-md-2 col-md-4">
            <div class="header_center_title">
              <p>{{ $t('HeaderCenter.title') }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header_bottom">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-12">
            <div class="header_bottom_menu">
              <b-navbar toggleable="md" type="dark" class="header_bottom_menu_navbar">
                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
                <b-collapse id="nav-collapse" is-nav>
                  <b-navbar-nav>
                    <b-nav-item href="http://www.uzex.uz">Главная</b-nav-item>
                    <b-nav-item-dropdown class="header_bottom_menu_left-border"
                                         id="my-nav-dropdown"
                                         text="Состоявшиеся сделки"
                                         toggle-class="nav-link-custom"
                                         left
                                         ref="dropdown-menu"
                                         @mouseover="onOver"
                                         @mouseleave="onLeave"
                    >
                      <b-dropdown-item>Список интерактивных услуг</b-dropdown-item>
                      <b-dropdown-divider></b-dropdown-divider>
                      <b-dropdown-item>Торговые технологии</b-dropdown-item>
                      <b-dropdown-divider></b-dropdown-divider>
                      <b-dropdown-item>Взаимодействие с государственными органами на уровне правительства
                      </b-dropdown-item>
                    </b-nav-item-dropdown>
                    <b-nav-item class="header_bottom_menu_left-border">План графики</b-nav-item>
                    <b-nav-item class="header_bottom_menu_left-border">Информация</b-nav-item>
                    <b-nav-item class="header_bottom_menu_left-border">Статистика</b-nav-item>
                    <b-nav-item class="header_bottom_menu_left-border">Контакты</b-nav-item>
                    <b-nav-item class="header_bottom_menu_left-border">Полезно знать</b-nav-item>
                  </b-navbar-nav>
                </b-collapse>
              </b-navbar>
            </div>
          </div>
        </div>
      </div>
      <div class="header_bottom_back"></div>
    </div>
    <div>
    </div>
  </header>
</template>

<script>
  import {mapState} from 'vuex';
  import imgCloudru from '~/assets/img/russia.png'
  import imgClouduz from '~/assets/img/uzbekistan.png'
  import imgClouden from '~/assets/img/usa.png'

  export default {
    name: "Header",
    data() {
      return {
        displayLangMenu: false,
        imgCloud: {
          ru: imgCloudru,
          uz: imgClouduz,
          en: imgClouden,
        }
      }
    },
    computed: {
      ...mapState({
        menu: state => state.menu,
      }),
      availableLocales() {
        return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale);
      }
    },
    methods: {
      toggleVariable(variable) {
        this[variable] = !this[variable];
      },
      getDate() {
        var days = ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"];

        var myDate = new Date();
        var fullDate = "Сегодня: " + days[myDate.getDay()] + ", " + myDate.getDate() + "." + myDate.getMonth() +
          "." + myDate.getFullYear() + " " + myDate.getHours() + ":" + myDate.getMinutes();
        return fullDate;
      },
      onOver() {
        this.$refs.dropdown.visible = true;
      },
      onLeave() {
        this.$refs.dropdown.visible = false;
      }
    },
  }
</script>

<style scoped lang="scss">
  .dropdown-menu {
    display: block;
  }
</style>
