<template>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6" v-for="product in products" :key="product.id">
      <div class="new_product_block">
        <a href="#" class="new_product_block_url">
          <div class="new_product_block_url_img">
            <img :src="`${product.img}`" alt="product-img"/>
          </div>
          <div class="new_product_block_url_info">
            <div class="new_product_block_url_info_child">
              <p>{{ product.number}}</p>
              <h3>{{ product.title }}</h3>
            </div>
            <div class="new_product_block_url_info_child">
              <p>{{ product.infoPrice }}</p>
              <h4>{{ product.price }}</h4>
            </div>
            <div class="new_product_block_url_info_child">
              <p>{{ product.infoDate }}</p>
              <span>{{ product.date }}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6" v-for="product in products" :key="product.id">
      <div class="new_product_block">
        <a href="#" class="new_product_block_url">
          <div class="new_product_block_url_img">
            <img :src="`${product.img}`" alt="product-img"/>
          </div>
          <div class="new_product_block_url_info">
            <div class="new_product_block_url_info_child">
              <p>{{ product.number}}</p>
              <h3>{{ product.title }}</h3>
            </div>
            <div class="new_product_block_url_info_child">
              <p>{{ product.infoPrice }}</p>
              <h4>{{ product.price }}</h4>
            </div>
            <div class="new_product_block_url_info_child">
              <p>{{ product.infoDate }}</p>
              <span>{{ product.date }}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>

  import img from '~/assets/img/Layer 4.png';
  import img2 from '~/assets/img/Layer 5.png';
  import img3 from '~/assets/img/Layer 6.jpg';
  import img4 from '~/assets/img/Layer 7.jpg';

  export default {
    name: "ProductGridItem",
    data() {
      return {
        products: [
          {
            id: 1,
            img: img,
            number: '№ 1313884',
            title: 'Экран для проектора',
            infoPrice: 'Цена за единицу:',
            price: '3 500 000 UZS',
            infoDate: 'Торг активен до:',
            date: '30.09.2019 15:26',
          },

          {
            id: 2,
            img: img2,
            number: '№ 1313884',
            title: 'Цилиндр для Картриджа',
            infoPrice: 'Цена за единицу:',
            price: '2 100 000 UZS',
            infoDate: 'Торг активен до:',
            date: '30.09.2019 15:26',
          },

          {
            id: 3,
            img: img3,
            number: '№ 1313884',
            title: 'Замена барабана картриджа ',
            infoPrice: 'Цена за единицу:',
            price: '500 000 UZS',
            infoDate: 'Торг активен до:',
            date: '30.09.2019 15:26',
          },

          {
            id: 4,
            img: img4,
            number: '№ 1313884',
            title: 'Микрофон',
            infoPrice: 'Цена за единицу:',
            price: '9 650 000 UZS',
            infoDate: 'Торг активен до:',
            date: '30.09.2019 15:26',
          },
        ],
      }
    },
  };
</script>

<style scoped></style>
