<template>
  <div class="table-responsive-lg">
    <table class="table table-bordered new_product_table">
      <thead class="new_product_table_thead">
      <tr class="new_product_table_thead_tr">
        <th class="new_product_table_thead_tr_th">Фото</th>
        <th class="new_product_table_thead_tr_th">Срок лота</th>
        <th class="new_product_table_thead_tr_th">№ лота</th>
        <th class="new_product_table_thead_tr_th">Регион</th>
        <th class="new_product_table_thead_tr_th">Наименование заказа</th>
        <th class="new_product_table_thead_tr_th_width">Цена</th>
      </tr>
      </thead>
      <tbody class="new_product_table_tbody">
      <tr class="new_product_table_tbody_tr" v-for="product in products" :key="product.id">
        <th class="new_product_table_tbody_tr_th"><img :src="`${product.img}`" alt="foto"/></th>
        <td class="new_product_table_tbody_tr_td">{{ product.date }}</td>
        <td class="new_product_table_tbody_tr_td">
          <a href="http://www.uzex.uz" class="new_product_table_tbody_tr_td_url">{{ product.number}}</a>
        </td>
        <td class="new_product_table_tbody_tr_td">{{ product.region}}</td>
        <td class="new_product_table_tbody_tr_td">
          <a href="http://www.uzex.uz" class="new_product_table_tbody_tr_td_url">{{ product.name}}</a>
        </td>
        <td class="new_product_table_tbody_tr_td">{{ product.price}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>

  import img from '~/assets/img/Layer 15.jpg';
  import img2 from '~/assets/img/Layer 16.jpg';
  import img3 from '~/assets/img/Layer 17.jpg';

  export default {
    name: "ProductLinearItem",
    data() {
      return {
        products: [
          {
            id: 1,
            img: img,
            date: '09.10.2019',
            number: '1407474',
            region: 'Ферганская область',
            name: 'Фильтр воздушный',
            price: '100 000 000 млн. сум',
          },

          {
            id: 2,
            img: img2,
            date: '15.10.2019',
            number: '46884846',
            region: 'Ташкент',
            name: 'Деловой журнал',
            price: '60 000 000 сум',
          },

          {
            id: 3,
            img: img3,
            date: '27.10.2019',
            number: '1407474',
            region: 'Ташкент',
            name: 'Содержание и ремонт компьютера и компьютерного  оборудования ',
            price: '9 000 000 сум',
          },
          {
            id: 4,
            img: img,
            date: '09.10.2019',
            number: '1407474',
            region: 'Ферганская область',
            name: 'Фильтр воздушный',
            price: '100 000 000 млн. сум',
          },

          {
            id: 5,
            img: img2,
            date: '15.10.2019',
            number: '46884846',
            region: 'Ташкент',
            name: 'Деловой журнал',
            price: '60 000 000 сум',
          },

          {
            id: 6,
            img: img3,
            date: '27.10.2019',
            number: '1407474',
            region: 'Ташкент',
            name: 'Содержание и ремонт компьютера и компьютерного  оборудования ',
            price: '9 000 000 сум',
          },

          {
            id: 7,
            img: img,
            date: '09.10.2019',
            number: '1407474',
            region: 'Ферганская область',
            name: 'Фильтр воздушный',
            price: '100 000 000 млн. сум',
          },
        ],
      }
    },
  };
</script>

<style scoped></style>
