<template>
  <div id="notfound">
    <div class="notfound">
      <div class="notfound-404">
        <h1>Oops!</h1>
        <h2 v-if="error.statusCode === 404">
          {{ error.statusCode }} Страница не найдена
        </h2>
        <h2 v-if="error.statusCode === 401">
          {{ error.statusCode }} Вы не авторизованы
        </h2>
        <h2 v-if="error.statusCode === 403">{{ error.statusCode }} Нет прав</h2>
      </div>
      <nuxt-link to="/">Вернуться на главную</nuxt-link>
    </div>
  </div>
</template>

<script>
  export default {
    props: ["error"],
    name: "error",
    layout: "filled-header-layout",
    head() {
      return {
        title: `Ошибка ${this.error.statusCode}`
      };
    }
  };
</script>

<style scoped>
  #notfound {
    position: relative;
    height: 100vh;
  }

  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
  }

  .notfound .notfound-404 {
    position: relative;
    height: 200px;
    margin: 0px auto 20px;
    z-index: -1;
  }

  .notfound .notfound-404 h1 {
    font-family: "Arial", sans-serif;
    font-size: 236px;
    font-weight: 200;
    margin: 0px;
    color: #111111;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .notfound .notfound-404 h2 {
    font-family: "Arial", sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #111111;
    background: #ffffff;
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
  }

  .notfound a {
    font-family: "Arial", sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: #083f88;
    font-size: 18px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }

  .notfound a:hover {
    color: #ffffff;
    background: #111111;
  }

  @media only screen and (max-width: 767px) {
    .notfound .notfound-404 h1 {
      font-size: 148px;
    }
  }

  @media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
      height: 148px;
      margin: 0px auto 10px;
    }

    .notfound .notfound-404 h1 {
      font-size: 86px;
    }

    .notfound .notfound-404 h2 {
      font-size: 16px;
    }

    .notfound a {
      padding: 7px 15px;
      font-size: 14px;
    }
  }
</style>
