@import "variables";

//Methods

@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}

//Mixin

@mixin lato($rem){
    font: rem($rem) $lato;
    //ответ
    //@include lato(35);
}

