//Vars

$ptsanspro: 'PTSansPro', sans-serif;
$lato: 'Lato', sans-serif;

$browser-context: 16; // Default

//Colors

$black: #000000;
$black-second: #111111;

$white: #ffffff;

$blue: #083f88;

$green: #14ba05;

$dark-blue: #3f4d65;

$light_blue: #2E85AA;


$gray: #b7b7b7;

$gray-dark: #707070;
$gray-dark-second: #959595;

$gray-light: #e2e8f1;
$gray-light-second: #f8f8f8;

//
