<template>
  <div class="content">
    <ContentTop/>
    <ContentSlide/>
    <News/>
    <Catalogue/>
    <NewsProduct/>
    <ContentCenter/>
    <ContentBottom/>
  </div>
</template>

<script>
  import ContentTop from '~/components/content/ContentTop.vue';
  import ContentSlide from '~/components/content/ContentSlide.vue';
  import News from '~/components/content/News.vue';
  import Catalogue from '~/components/content/Catalogue.vue';
  import NewsProduct from '~/components/content/NewsProduct.vue';
  import ContentCenter from '~/components/content/ContentCenter.vue';
  import ContentBottom from '~/components/content/ContentBottom.vue';

  export default {
    components: {
      ContentTop,
      ContentSlide,
      News,
      Catalogue,
      NewsProduct,
      ContentCenter,
      ContentBottom,
    }
  }
</script>

<style>

</style>
