<template>
  <section class="catalogue">
    <div class="catalogue_pad">
      <div class="container">
        <div class="row">
          <div class="col-xl-2 col-md-3 col-sm-4" v-for="item in catalogs">
            <div class="catalogue_block">
              <a href="http://www.uzex.uz" class="catalogue_block_child">
                <span :class="`${item.img}`"></span>
                <p>{{ item.text }}</p>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="catalogue_url d-flex justify-content-center">
              <a href="http://www.uzex.uz" class="btn">
                Посмотреть все
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "Catalogue",
    data() {
      return {
        catalogs: [
          {
            id: 1,
            img: 'icon-001',
            text: 'Машиностроение',
          },

          {
            id: 2,
            img: 'icon-002',
            text: 'Химическая промышленность',
          },

          {
            id: 3,
            img: 'icon-003',
            text: 'Строительство',
          },

          {
            id: 4,
            img: 'icon-004',
            text: 'Легкая промышленность, СИЗ, ТНП',
          },

          {
            id: 5,
            img: 'icon-005',
            text: 'Пищевая промешленность',
          },

          {
            id: 6,
            img: 'icon-006',
            text: 'Информационные технологии и консалтинг',
          },

          {
            id: 7,
            img: 'icon-007',
            text: 'Добыча и переработка нефти и газа',
          },

          {
            id: 8,
            img: 'icon-008',
            text: 'Производство строительных материалов',
          },

          {
            id: 9,
            img: 'icon-009',
            text: 'Черная и цветная металлуригия',
          },

          {
            id: 10,
            img: 'icon-010',
            text: 'Другие производства и консорциумы',
          },

          {
            id: 11,
            img: 'icon-011',
            text: 'Лесопромышленная и целлюлозно бумажная',
          },

          {
            id: 12,
            img: 'icon-012',
            text: 'Проборостроение',
          },
        ],
      }
    },
  }
</script>

<style scoped>

</style>