<template>
  <section class="content_slide">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <b-carousel
              :interval="4000"
              fade
              controls
              indicators
          >
            <b-carousel-slide img-src="~/assets/img/Layer 2.jpg">
              <h3>B2B модель электронной коммерции</h3>
              <p>Мы работаем в сфере государственного и коммерческого заказа
                с 2007 года и готовы помочь на каждом этапе торгов.</p>
            </b-carousel-slide>

            <b-carousel-slide img-src="~/assets/img/Layer 2.jpg">
              <h3>B2B 2 модель электронной коммерции</h3>
              <p>Мы работаем в сфере государственного и коммерческого заказа
                с 2007 года и готовы помочь на каждом этапе торгов.</p>
            </b-carousel-slide>

            <b-carousel-slide img-src="~/assets/img/Layer 2.jpg">
              <h3>B2B 3 модель электронной коммерции</h3>
              <p>Мы работаем в сфере государственного и коммерческого заказа
                с 2007 года и готовы помочь на каждом этапе торгов.</p>
            </b-carousel-slide>
          </b-carousel>
        </div>
        <div class="col-md-3 col-sm-4">
          <a class="content_slide_popup" href="#" v-b-modal.modal-center>
            <div class="content_slide_popup_img">
              <img src="~/assets/img/popup.png" alt="popup"/>
            </div>

            <div class="content_slide_popup_info">
              <p>Видео презентация</p>
            </div>
            <div class="content_slide_popup_url">
              <img src="~/assets/img/youtube.png" alt="youtube">
            </div>


            <b-modal id="modal-center" size="lg" busy centered>
              <template v-slot:default="{ close }">
                <b-button @click="close()">×</b-button>
                <b-embed
                    type="iframe"
                    aspect="16by9"
                    src="http://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                    allowfullscreen
                ></b-embed>
              </template>
            </b-modal>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "ContentSlide",
  }
</script>

<style scoped>

</style>