<template>
  <section class="content_top">
    <div class="container">
      <div class="row">
        <div class="col" v-for="item in items" :key="item.id">
          <div class="content_top_pad">
            <a href="http://www.uzex.uz" class="content_top_block">
              <div class="content_top_block_img">
                <span :class="`${item.img}`"></span>
              </div>
              <div class="content_top_block_info">
                <h2>{{ item.title }}</h2>
                <p>{{ item.text }}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "ContentTop",
    data() {
      return {
        items: [
          {
            id: 1,
            img: 'icon-top_1',
            title: 'Электронная ярмарка',
            text: 'Неконкуртентная форма торговли',
          },

          {
            id: 2,
            img: 'icon-top_2',
            title: 'Электронная ярмарка',
            text: 'Конкурентная форма, аукциона на повышение',
          },

          {
            id: 3,
            img: 'icon-top_3',
            title: 'Запрос цен',
            text: 'Конкурентная форма, аукцион на понижение',
          },
        ],
      }
    },
  }
</script>

<style scoped>

</style>