<template>
  <section class="content_center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="content_center_pad">
            <div class="content_center_block">
              <img class="content_center_block_img-back" src="~/assets/img/img-content-center.jpg"
                   alt="img-content-center"/>
              <div class="content_center_block_info">
                <div class="content_center_block_info_img calc">
                  <img src="~/assets/img/Shape 19.png" alt="icon-content-center"/>
                </div>
                <div class="content_center_block_info_text">
                  <h2>Калькулятор</h2>
                  <p>онлайн калькулятор расчета комиссии</p>
                </div>
                <div class="content_center_block_info_url">
                  <a href="http://www.uzex.uz" class="btn content_center_block_info_url_btn">
                    Перейти
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="content_center_pad">
            <div class="content_center_block">
              <img class="content_center_block_img-back" src="~/assets/img/img-content-center-second.jpg"
                   alt="img-content-center"/>
              <div class="content_center_block_info">
                <div class="content_center_block_info_img">
                  <img src="~/assets/img/Shape 18.png" alt="icon-content-center"/>
                </div>
                <div class="content_center_block_info_text">
                  <h2>Ценновой бюллитень</h2>
                  <p>освещающие широкий спектр направлений экономической деятельности и тематик</p>
                </div>
                <div class="content_center_block_info_url">
                  <a href="http://www.uzex.uz" class="btn content_center_block_info_url_btn">
                    Перейти
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "ContentCenter"
  }
</script>

<style scoped>

</style>