<template>
  <section class="content_bottom">
    <div class="content_bottom_header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex">
              <a class="content_bottom_header_btn"
                 @click.prevent="setActiveTab('grid')"
                 href="#"
                 role="tab"
                 aria-controls="grid"
                 :class="{active: isActive('grid')}"
              >
                Гарантирующии поставщики
              </a>
              <a class="content_bottom_header_btn"
                 @click.prevent="setActiveTab('linear')"
                 href="#"
                 role="tab"
                 aria-controls="linear"
                 :class="{active: isActive('linear')}"
              >
                Недобросовестные поставщики
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content_bottom_center">
      <div class="container">
        <div class="tab-content" id="tab">
          <div class="tab-pane fade"
               :class="{'active show' : isActive('grid')}"
          >
            <template>
              <SuppliersGridItem/>
            </template>
          </div>
          <div class="tab-pane fade"
               :class="{'active show' : isActive('linear')}"
          >
            <template>
              <SuppliersLinearItem/>
            </template>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="content_bottom_url d-flex justify-content-center">
              <nuxt-link to="/" class="btn">
                Посмотреть все
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

  import SuppliersGridItem from "~/components/content/suppliers/SuppliersGridItem";
  import SuppliersLinearItem from "~/components/content/suppliers/SuppliersLinearItem";

  export default {
    name: "ContentBottom",
    data() {
      return {
        activeItem: 'grid',
      }
    },
    components: {
      SuppliersGridItem,
      SuppliersLinearItem,
    },
    methods: {
      setActiveTab(menuItem) {
        this.activeItem = menuItem
      },
      isActive(menuItem) {
        return this.activeItem === menuItem
      }
    },
  }
</script>

<style scoped>

</style>