<template>
  <section class="news">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-6">
          <div class="news_header">
            <h2>Новости</h2>
          </div>
        </div>
        <div class="col-6">
          <div class="news_header d-flex justify-content-end">
            <a href="http://www.uzex.uz">
              Все новости
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6" v-for="item in news" :key="item.id">
          <div class="news_block_pad">
            <div class="news_block">
              <div class="news_block_img">
                <img :src="`${item.img}`" alt="">
              </div>
              <div class="news_block_info">
                <span>{{ item.date }}</span>
                <h3>{{ item.title }}</h3>
                <a href="http://www.uzex.uz">
                  Подробнее
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

  import img from '~/assets/img/Layer 15.jpg';
  import img2 from '~/assets/img/Layer 16.jpg';
  import img3 from '~/assets/img/Layer 17.jpg';
  import img4 from '~/assets/img/Layer 18.jpg';


  export default {
    name: "News",
    data() {
      return {
        news: [
          {
            id: 1,
            img: img,
            title: 'О «УзРТСБ» объявляет отбор наилучших предложений на выполнение работ по ...',
            date: '27 сен 2019',
          },

          {
            id: 2,
            img: img2,
            title: 'АО "УзРТСБ" объявляет отбор наилучших предложений на поставку принтеров в ...',
            date: '27 сен 2019',
          },

          {
            id: 3,
            img: img3,
            title: 'АО «Узбекская республиканская товарно-сырьевая биржа» объявляет конкурс на оказани ...',
            date: '27 сен 2019',
          },

          {
            id: 4,
            img: img4,
            title: 'Изготовление и поставкa',
            date: '27 сен 2019',
          },
        ],
      }
    },
  }
</script>

<style scoped>

</style>