<template>
  <section class="new_product">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-6">
          <div class="new_product_header">
            <h2>Новые товары</h2>
          </div>
        </div>
        <div class="col-6">
          <div class="new_product_header d-flex justify-content-end">
            <a class="new_product_header_btn"
               @click.prevent="setActiveTab('grid')"
               href="#"
               role="tab"
               aria-controls="grid"
               :class="{active: isActive('grid')}"
            >
              <img src="~/assets/img/button.png" alt="button"/>
            </a>
            <a class="new_product_header_btn"
               @click.prevent="setActiveTab('linear')"
               href="#"
               role="tab"
               aria-controls="linear"
               :class="{active: isActive('linear')}"
            >
              <img src="~/assets/img/button-second.png" alt="button"/>
            </a>
          </div>
        </div>
      </div>
      <div class="tab-content" id="tab">
        <div class="tab-pane fade"
             :class="{'active show' : isActive('grid')}"
        >
          <template>
            <ProductGridItem/>
          </template>
        </div>
        <div class="tab-pane fade cat-eq"
             :class="{'active show' : isActive('linear')}"
        >
          <template>
            <ProductLinearItem/>
          </template>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="new_product_url d-flex justify-content-center">
            <nuxt-link to="/" class="btn">
              Посмотреть все
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

  import ProductGridItem from "~/components/content/products/ProductGridItem";
  import ProductLinearItem from "~/components/content/products/ProductLinearItem";

  export default {
    name: "NewsProduct",
    data() {
      return {
        activeItem: 'grid',
      }
    },
    components: {
      ProductGridItem,
      ProductLinearItem,
    },
    methods: {
      setActiveTab(menuItem) {
        this.activeItem = menuItem
      },
      isActive(menuItem) {
        return this.activeItem === menuItem
      }
    },
  }
</script>

<style scoped>

</style>