
@font-face {
    font-family: 'PTSansPro';
    src: url('PTSansPro-Bold.eot');
    src: local('☞PT Sans Pro Bold'), local('PTSansPro-Bold'),
        url('PTSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('PTSansPro-Bold.woff2') format('woff2'),
        url('PTSansPro-Bold.woff') format('woff'),
        url('PTSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansPro';
    src: url('PTSansPro-Italic.eot');
    src: local('☞PT Sans Pro Italic'), local('PTSansPro-Italic'),
        url('PTSansPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('PTSansPro-Italic.woff2') format('woff2'),
        url('PTSansPro-Italic.woff') format('woff'),
        url('PTSansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PTSansPro';
    src: url('PTSansPro-Light.eot');
    src: local('☞PT Sans Pro Light'), local('PTSansPro-Light'),
        url('PTSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('PTSansPro-Light.woff2') format('woff2'),
        url('PTSansPro-Light.woff') format('woff'),
        url('PTSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansPro';
    src: url('PTSansPro-LightItalic.eot');
    src: local('☞PT Sans Pro Light Italic'), local('PTSansPro-LightItalic'),
        url('PTSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('PTSansPro-LightItalic.woff2') format('woff2'),
        url('PTSansPro-LightItalic.woff') format('woff'),
        url('PTSansPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PTSansPro';
    src: url('PTSansPro-Regular.eot');
    src: local('☞PT Sans Pro'), local('PTSansPro-Regular'),
        url('PTSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('PTSansPro-Regular.woff2') format('woff2'),
        url('PTSansPro-Regular.woff') format('woff'),
        url('PTSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansPro';
    src: url('PTSansPro-BoldItalic.eot');
    src: local('☞PT Sans Pro Bold Italic'), local('PTSansPro-BoldItalic'),
        url('PTSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('PTSansPro-BoldItalic.woff2') format('woff2'),
        url('PTSansPro-BoldItalic.woff') format('woff'),
        url('PTSansPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
